<div class="top">
<br>
    <h2>Edit Patron <%= @patron.id %></h2>
</div> 


<h3>
<div style="width: 70%; margin: 0 auto;" >
    <small class='text-muted' >
    <p>
    <% if !@patron.errors.full_messages.empty?  %>
    <% @patron.errors.full_messages.each do |message| %>
    <%= message %>
    <br>
    <% end %>
    <%end %>
    </p>
</div>
</h3>
<%= form_for(@patron, url: update_patron_url(@patron)) do |f| %>
<div style="width:50%; margin:0 auto;">
<table style="background-color: white"  align="center" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>

        </tr>
    </thead>
        <tbody>
            <tr>
                <td><%= f.text_field :name %></td>
                <td><%= f.text_field :phone %></td>

            </tr>
        </tbody>
</table>   
                <%= f.submit %>
                <% end %>  
</div>                 
<hr>
        <div align="center">
            <button type="button" class="btn btn-dark">
                <h4>
                    <%= link_to "Back To Orders", clerk_orders_path(@clerk) %>
                </h4>  
            </button>
      </div>