<div  class="top">
    <h2><%= @patron.name %>'s Info</h2>
</div>    
<small class="text-muted">
<table style="width:70%; background-color:white"  align="center" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col"> Name</th>
            <th scope="col"> Phone Number</th>
            <th scope="col"> Number of Past Orders</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <th scope="row"><%= @patron.name %></th>
                <td><%=@patron.phone%></td>
                <td><%=@patron.orders.all.length%></td>
            </tr>
        </tbody>
</table>
</small>  
<br>
<div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:72px; background-color: white; margin:0 auto; width:70%;">
    <h2 align="center"><%= @patron.name %>'s Orders</h2>
</div>    
<small class="text-muted">
<table style="width:70%; background-color:white"  align="center" class="table table-bordered">
  <thead>   
        <tr>
          <th scope="col">Number</th>
          <th scope="col">Item</th>
          <th scope="col">Amount</th>
          <th scope="col">Pick Up Date</th>
          <th scope="col">Completed?</th>

        </tr>
  </thead>
  <% @patron.orders.each do |o|%>
       <tbody>
        <tr>
          <th scope="row"><%=o.id%>
            <%= link_to "|Options", clerk_order_url(o.clerk, o.id) %>
          </th>
            <td><%=o.item%></td>
            <td><%=o.amount%></td>
            <td><%=o.pick_up.strftime("%m/%d/%Y")%></td>
            <td><%=o.complete?%></td>

        </tr>
        <%end%>
      </tbody>
    </table> 
</small>
<hr>
        <div align="center">
            <button type="button" class="btn btn-dark">
                <h4>
                    <%= link_to "Back To Orders", clerk_orders_path(@clerk) %> |
                    <%= link_to  "Edit Patron", edit_patron_path(@patron)%> |
                    <%= link_to  "Delete Patron", delete_patron_path(@patron)%>

                </h4>  
            </button>
      </div>
