<br>
<h3>
            <small class='text-muted'>
            <% if !@order.errors.full_messages.blank?  %>
            <% @order.errors.full_messages.each do |message| %>
            Order <%=message %>
            <br>
            <% end %>
            <%end %>

            
            <% if @patron && !@patron.errors.full_messages.blank?  %>
            <% @patron.errors.full_messages.each do |message| %>
            Patron <%= message %>
            <br>
            <% end %>
            <%end %>
        </h3>

<%= form_for(order, url: url) do |f| %>
<%= f.fields_for :patron_attributes do |ff| %>

<table style="width:90%"  align="center" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Patron Name</th>
            <th scope="col"> Patron Phone Number</th>
            <th scope="col">Item</th>
            <th scope="col">Amount</th>
            <th scope="col">Pick Up Date</th>
            <th scope="col">Complete</th>

        </tr>
    </thead>
        <tbody>
            <tr>
                <th scope="row"><%= ff.text_field :name %><br></th>
                <td><%= ff.text_field :phone %><br></td>
                <% end %>
                <td><%= f.text_field :item %></td>
                <td><%= f.text_field :amount %></td>
                <td><%= f.text_field :pick_up, type:"date" %></td>
                <td><%= f.text_field :complete, placeholder:"true/false" %></td>

            </tr>
        </tbody>
</table>   
                <%= f.submit %>
                <% end %>    
<hr>
        <div align="center">
            <button type="button" class="btn btn-dark">
                <h4>
                    <%= link_to "Back To Orders", clerk_orders_path(@clerk) %>
                </h4>  
            </button>
      </div>