
<br><br>
<div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:72px; background-color: white; margin:0 auto; width:70%;">
    <h2 align="center">Welcome, <%=@clerk.email%></h2>
</div> 
<div style="width: 90%; margin:0 auto;"> 
<br>
<h3>
      <small class='text-muted'>
      <%if @orders.empty?%>
      <h5 align="center">You have no orders</h5>
      <%else%>

      <% if @order && !@order.errors.full_messages.blank?  %>
      <% @order.errors.full_messages.each do |message| %>
      Order<%= message %>
      <br>
        <% end %>
      <%end %>

      <small class="text-muted">
      <% if flash[:message] %>
      <%= flash[:message] %>
      <br>
      <% end %>
</h3>
 </div> 
  
<table style="width:70%; background-color:white"  align="center" class="table table-bordered">
  <thead>   
  <tr>
          <th scope="col">Number</th>
          <th scope="col"> Customer Name</th>
          <th scope="col">Item</th>
          <th scope="col">Amount</th>
          <th scope="col">Pick Up Date</th>
          <th scope="col">Completed?</th>

    </tr>
  </thead>
  <% @orders.each do |o|%>
       <tbody>
        <tr>
          <th scope="row"><%=o.id%>
          <%= link_to "|Options", clerk_order_url(o.clerk, o.id) %>
          </th>
            <td><%=o.patron.name%></td>
            <td><%=o.item%></td>
            <td><%=o.amount%></td>
            <td><%=o.pick_up%></td>
            <td>
            <%=o.complete%>
            </td>

        </tr>
        <%end%>
        <%end%>
      </tbody>
      </table>
      <hr>
      <div align="center">
      
        <button type="button" class="btn btn-dark">
          <h4>
            <%= link_to "New Order", new_clerk_order_url(@clerk)%> |
            <%= link_to "Logout", logout_path %>
          </h4>
        </button>
       
      </div>