<br><br>
<div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:110px; background-color: white; margin:0 auto; width:70%;">
    <h2 align="center" class="display-2">Order #<%=@order.id%></h2>
</div>    

<small class="text-muted">
<% if flash[:message] %>
<%= flash[:message] %>
<% end %>
<table style="width:70%; background-color:white"  align="center" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col"> Patron Name</th>
            <th scope="col">Item</th>
            <th scope="col">Amount</th>
            <th scope="col">Pick Up Date</th>
            <th scope="col">Complete</th>

        </tr>
    </thead>
        <tbody>
            <tr>
                <th scope="row"><%= @order.id %></th>
                <td><%=@order.patron.name%></td>
                <td><%=@order.item%></td>
                <td><%=@order.amount%></td>
                <td><%=@order.pick_up%></td>
                <td><%=@order.complete%></td>

            </tr>
        </tbody>
</table> 
</small>      
<hr>
        <div align="center">
            <button type="button" class="btn btn-dark">
                <h4>
                    <%= link_to "Edit", edit_clerk_order_url(@order.clerk, @order.id) %> |
                    <%= link_to "Delete", clerk_order_delete_path(@order.clerk, @order), method: :destroy %> |
                    <%= link_to "View Patron", patron_path(@order.patron) %> |
                    <%= link_to "Your Orders", clerk_orders_path(@clerk) %>

                </h4>  
            </button>
      </div>
   
  
