<div class="top">
<br>
    <h2>Your orders for <%=Date.today.strftime("%m/%d/%Y")%></h2>
</div> 
<small class="text-muted">  
<table class="table table-bordered">
  <thead>   
  <tr>
          <th scope="col">Number</th>
          <th scope="col"> Customer Name</th>
          <th scope="col">Item</th>
          <th scope="col">Amount</th>
          <th scope="col">Pick Up Date</th>
          <th scope="col">Completed?</th>

    </tr>
  </thead>
  <% @orders.each do |o|%>
       <tbody>
        <tr>
          <th scope="row"><%=o.id%>
          <%= link_to "|Options", clerk_order_url(o.clerk, o.id) %>
          </th>
            <td><%=o.patron.name%></td>
            <td><%=o.item%></td>
            <td><%=o.amount%></td>
            <td><%=o.pick_up.strftime("%m/%d/%Y")%></td>
            <td><%=o.complete?%></td>

        </tr>
        <%end%>
    </tbody>
</table>
</small>
<hr>
      <div align="center">
      
        <button type="button" class="btn btn-dark">
          <h4>
            <%= link_to "Your Orders", clerk_orders_url(@clerk) %> |
            <%= link_to "New Order", new_clerk_order_url(@clerk)%> |
            <%= link_to "Logout", logout_path %>
          </h4>
        </button>
       </div>