<!DOCTYPE html>
<html>
  <head>
    <title>EMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="all">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<h1 align="center" class="display-1">Welcome</h1>
<h2 align="center">
    <small class="text-muted"><%= link_to "Login", login_path %> or <%= link_to "Sign up", new_clerk_path %></small>
</h2>
<br>
<hr>

  </body>
</html>
